.container{
    display: grid;
    grid-template-columns: 200px 400px auto;
    grid-template-rows: 300px 300px 400px;
    height: 400px;
    border: 2px solid salmon;
}
.row1{
     background-color: aqua;
}
.row2{
     background-color: blue;
}
.row3{
     background-color: aquamarine;
}